.field-span {
    display: inline-block;
    margin-left: 15px;
    font-size:1.2em;
}
.fields-para {
    white-space: normal !important;
}
.item-content {
    height:100% !important;
}

.filter-input {
    display: block;
}