.navbar-spacer {
    flex: 1 1 auto;
}

.navbar-title {
    padding-right:8px;
}
.navbar-network {
    font-size: 0.8em;
    padding-right: 8px;
}
.navbar-agi-num {
    font-size: 0.8em;
    padding-left: 15px;
}