.is-active {
    background-color: #ddeedd;
}

figure {
    align-items: normal !important;
}

.service-card {
    min-height: 600px;
}

.service-main-content {
    min-height: 600px;
}

mat-sidenav {
    width: 200px;
}

.method-main-content {
    padding:10px;
    padding-left: 25px;
}