<mat-card class="service-card">
  <mat-card-title>
    {{ (svc$ | async)?.info?.name }}
    - {{ (svc$ | async)?.id }}
  </mat-card-title>
  <mat-card-subtitle>
      <p>Tags : {{ (svc$ | async)?.svc.tags }}</p>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
          <mat-list role="list">
            <mat-list-item 
            (click)="selectMethod(method)" [class.is-active]="method.key === selectedMethod?.key" 
            *ngFor="let method of methods$ | async | keyvalue" role="listitem">
              <h4>{{method.key}}</h4>
            </mat-list-item>
          </mat-list>
      </mat-sidenav>
      <mat-sidenav-content class="service-main-content">
          <div *ngIf="!selectedMethod"><h4>Select a method to invoke</h4></div>
          <div *ngIf="selectedMethod" class="method-main-content">
            <job-pane [method]="selectedMethod" [service]="svc$ | async" 
            [channels]="channels$ | async" (runJob)="runJob($event)">
            </job-pane>
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>


