/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);


body {
    margin: 0px;
}

.elevate-menu {
    @include mat-elevation(3);
    margin-bottom: 3px;
}